body{
    margin: 0;
    max-width:1280px;
    margin:auto;
}

.main{
    background-color: beige;
}

.div_textArea_wrapper{
    width: 100%;
    border: 1px solid #555;
    display: flex;
    justify-content: center;
}

.text_area{
    width: 100%;
height: 150px;
border: 1px solid green;
margin-bottom: 30px;
border: none;
outline: none;
font-size: 26px;
background-color: #f7f7f7;
padding-left: 10px;
transition: .2s;
}

.div_wrapper_buttons{
    width: 100%;
    border: 1px solid rebeccapurple;
    height: 400px;
    background-color: lightskyblue;
    text-align: center;
}
.button{
    height: 45px;
    width: 6%;
    max-width: 90px;
    margin: 3px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.2);
    color: black;
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.button:active{
    background: rgba(255, 255, 255, 0.1);
}

.button__wide{
    width: 15%;
}
.button__wide_extra{
    width: 36%;
    max-width: 500px;
}



.active {
    background-color: #333;
    color: #fff;
}

.remove {
    animation: keys_animation 0.5s forwards ;
}

@keyframes keys_animation {
    0% {
        background-color: #333;
        color: #fff;
    }
    100% {
        background-color: #fff;
        color: #000;
    }
}



/* .button__active::after{
content: '';
top: 10px;
right: 10px;
position: absolute;
width: 8px;
height: 8px;
background: rgba(0, 0, 0, 0.4);
border-radius: 50%;

}

.button__active_click::after{
    background: #08ff08;

} */

/* .button__black{
    background: rgba(0, 0, 0, 0.25)
} */







/*
.keyboard {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    background: #004134;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    user-select: none;
    transition: bottom 0.4s;
}

.keyboard--hidden {
    bottom: -100%;
}

.keyboard__keys {
    text-align: center;
}

.keyboard__key {
    height: 45px;
    width: 6%;
    max-width: 90px;
    margin: 3px;
    border-radius: 4px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.keyboard__key:active {
    background: rgba(255, 255, 255, 0.12);
}

.keyboard__key--wide {
    width: 12%;
}

.keyboard__key--extra-wide {
    width: 36%;
    max-width: 500px;
}

.keyboard__key--activatable::after {
    content: '';
    top: 10px;
    right: 10px;
    position: absolute;
    width: 8px;
    height: 8px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}

.keyboard__key--active::after {
    background: #08ff00;
}

.keyboard__key--dark {
    background: rgba(0, 0, 0, 0.25);
} */
